@model IEnumerable<Team_Up.Models.AccountModel>

@{
    ViewBag.Title = "Index";
}



@{
    if (ViewBag.Duplicate == null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $('[href="#'+ @ViewBag.Tab +'a"]').tab('show');
            };
        </script>
    }

}


<h2>
    Pannello di controllo
</h2>


<div id="exTab1" class="container">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1a" data-toggle="tab">Account</a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab">Competenze </a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab">Categorie</a>
        </li>

    </ul><br />

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <table class="table">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Cognome
                    </th>
                    <th>
                        Data Di nascità
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tipo Account
                    </th>
                    <th>
                        UserName
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in ViewBag.Accounts)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Surname
                        </td>
                        <td>
                            @item.DateOfBirth
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.TypeAccount
                        </td>
                        <td>
                            @item.UserName
                        </td>

                        <td>
                            @Html.ActionLink("Modifica", "Edit", new { username = item.UserName }) |
                            @Html.ActionLink("Elimina", "Delete", new { username = item.UserName })
                        </td>
                    </tr>
                }

            </table>

        </div>
        <div class="tab-pane" id="2a">
            @Html.ActionLink("New", "CreateCompentece")
            <table class="table">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Classe Css
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in ViewBag.Compences)
                {
                    <tr>
                        <td>
                            @item.typology
                        </td>
                        <td>
                            @item.Color
                        </td>

                        <td>
                            @Html.ActionLink("Elimina", "DeleteCompetence", new { CompetenceID = item.CompetenceID })
                        </td>
                    </tr>
                }

            </table>


        </div>
        <div class="tab-pane" id="3a">
            @Html.ActionLink("New", "CreateCategories")
            <table class="table">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Classe Css
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in ViewBag.Categories)
                {
                    <tr>
                        <td>
                            @item.Typology
                        </td>
                        <td>
                            @item.Color
                        </td>

                        <td>
                            @Html.ActionLink("Elimina", "DeleteCategories", new { CategoryID = item.CategoryID })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>



