@model Team_Up.Models.CompetenceModel

<h3>Sicura di voler eliminare  <strong>@Model.typology</strong>? </h3>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompetenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetenceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">

    <input type="text" value="@Model.CompetenceID" name="CompetenceID" style="display:none;" />

    <input type="submit" value="Delete" class="btn btn-default" /> 
</div>
    }
</div>
