@model Team_Up.Models.AccountModel

@{
    ViewBag.Title = "MyAccount";
}

  
<div>
    
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style=" text-align: center;">
                <img src="~/Uploads/@Html.DisplayFor(model => model.Avatar)" class="avatarClass" /><br />
                <br />
                @Html.ActionLink("Cambia Avatar", "UploadAvatar", "Account", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-info" })
                @Html.ActionLink("Modifica Profilo", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" })
            </div>
      
            <div class="col-sm-6">
                <h1> @Html.DisplayFor(model => model.UserName) </h1>
                <table class="table table-striped">

                    <tbody>
                        <tr>

                            <td class="tdMyaAvatar"> @Html.DisplayNameFor(model => model.Name)</td>
                            <td> @Html.DisplayFor(model => model.Name)</td>

                        </tr>
                        <tr>

                            <td class="tdMyaAvatar">@Html.DisplayNameFor(model => model.Surname)</td>
                            <td> @Html.DisplayFor(model => model.Surname)</td>

                        </tr>
                        <tr>

                            <td class="tdMyaAvatar"> @Html.DisplayNameFor(model => model.DateOfBirth)</td>
                            <td>  @Html.DisplayFor(model => model.DateOfBirth)</td>

                        </tr>

                        <tr>

                            <td class="tdMyaAvatar"> @Html.DisplayNameFor(model => model.Email)</td>
                            <td>   @Html.DisplayFor(model => model.Email)</td>

                        </tr>


                        <tr>

                            <td class="tdMyaAvatar"></td>
                            <td>
                                @Html.ActionLink("Progetti", "ProjectForAccount")
                            </td>

                        </tr>

                        <tr>
                            <td>

                                <h4><strong>Le mie competenze:</strong></h4>
                                <div id="CompetencesMobile" class="mediaNone">



                                    @{


                                        foreach (var itemCompetences in ViewBag.Compentence)
                                        {


                                            <a style="margin: 2px;" class="btn btn-@itemCompetences.Color"> @itemCompetences.typology.ToUpper()</a>
                                        }



                                    }

                                </div>


                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>

        </div>
    </div>



  



</div>
@*<p>
    @Html.ActionLink("Modifica Profilo", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" }) 
    
</p>*@
