@model Team_Up.Models.ProjectModel

@{
    ViewBag.Title = "Details";
}

<br />

<div class="divDetail">


    <div class="row">
        <div class="col-sm-7">
            <p style="font-size: 40px;"> @Html.DisplayFor(model => model.Title)</p>
            <b class="bDetail">@Html.DisplayNameFor(model => model.Date):</b>  @Html.DisplayFor(model => model.Date)
            <b class="bDetail">@Html.DisplayNameFor(model => model.CreatorAccount):</b>  @Html.DisplayFor(model => model.CreatorAccount)<b>&nbsp|&nbsp</b>
            <br /><b class="bDetail">Data Creazione:</b>  @Html.DisplayFor(model => model.DtInsert)<b>&nbsp|&nbsp</b>
            <b>Data Fine:</b>  @Html.DisplayFor(model => model.Date)
            <br /><b class="bDetail">@Html.DisplayNameFor(model => model.Date):</b>  @Html.DisplayFor(model => model.Date)
            <br /><b class="bDetail">Extra INFO:</b>  -----------
            <br /><b class="bDetail">Extra INFO:</b>  -----------
            <br /><b class="bDetail">Extra INFO:</b>  -----------
        </div>
        <div class="col-sm-5">
        </div>
        <img src="~/Uploads/ESEMPIO.png" style="    height: 250px;" />

    </div>



    <div class="row">
        <div class="col-sm-12">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>

<div>


</div>

<br />

<a href="~/Task/Create?projectId=@Model.ProjectID" style="margin: 2px; float:right;" class="btn btn-info"> New Task</a>

<br />


<table class="table table-hover">

    <thead style="background:black; color:white;">
        <tr>

            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Stato
            </th>
            <th>
                DateInsert
            </th>
            <th>
                DateClose
            </th>


            <th></th>
        </tr>
    </thead>

    @foreach (var item in ViewBag.Task)
    {
        <tr>
            <td style=" vertical-align: middle;">
                @item.Name
            </td>
            <td style=" vertical-align: middle;">

                @item.Description
            </td>
            <td style=" vertical-align: middle;">


                @if (@item.isClosed)
                {
                    <i class="material-icons" style="color: #037d45;font-size: 30px;">done_outline </i>
                }
                else
                {

                    <i class="material-icons" style="color: #c01f1f; font-size: 35px;">
                        trending_up
                    </i>
                }

            </td>
            <td style=" vertical-align: middle;">

                @item.DateInsert
            </td>
            <td style=" vertical-align: middle;">                
                @item.DateClose
            </td>



            <td style=" vertical-align: middle;">

                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                <a href="~/Task/Details/@item.TaskID">Details</a> |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>




<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
