@model Team_Up.Models.ProjectModel

@{
    ViewBag.Title = "Details";

    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("UserLogin");

    var userCookie = "";

    if (cookie != null)
    {
        userCookie = cookie.Value;
    }



}

<br />


<b></b>

@{

    if (ViewBag.Message == true)
    {

        <script type="text/javascript">
            window.onload = function () {
                $('#myModal').modal('show');
            };
        </script>

    }


}


<div class="divDetail">


    <div class="row">
        <div class="col-sm-5">
            <p style="font-size: 40px;"> @Html.DisplayFor(model => model.Title)</p>



            <b>Team Leader:</b>  @Html.DisplayFor(model => model.CreatorAccount)<b>&nbsp|&nbsp</b>



            <br /><b>Start:</b>  @Html.DisplayFor(model => model.DtInsert)<b>&nbsp|&nbsp</b>
            <b>Chiusura Prevista:</b>  @Html.DisplayFor(model => model.Date)
            <br />

            @{

                var ExtraDay = DateTime.Now.Subtract((DateTime)Model.Date).Days;

                if (ExtraDay < 0)
                {
                    ExtraDay = 0;

                }
            }


            <br /><b>Giorni Extra Di Lavaorazione:</b> @ExtraDay






            <br />  <a data-toggle="modal" data-target="#myModal" style="color:black;"><b>Lista Partecipanti</b> (@ViewBag.UserCofirmed.Count)  </a>

            <br />  @Html.DisplayFor(model => model.Description)
        </div>
        <div class="col-sm-7">
            <div style=" float: right; ">

                @{
                    if (userCookie == Model.CreatorAccount)
                    {



                        if (Model.isOpen)
                        { <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Aperto" data-off="Chiuso" id="isClosed">
                        }
                        else
                        {
                            <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Aperto" data-off="Chiuso" id="isClosed">

                        }

                    }

                }

            </div>
            <br />
            <canvas id="myChart"></canvas>
        </div>




    </div>




</div>

<div>


</div>

<br />

@{






    if (Model.isOpen == true)
    {
        if (userCookie == Model.CreatorAccount)
        {

            <a href="~/Task/Create?projectId=@Model.ProjectID" style="margin: 2px; float:right;" class="btn btn-info"> New Task</a>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-info" })


        }

        if (ViewBag.isRegistered != true && ViewBag.isRequest != true && userCookie != Model.CreatorAccount)
        {
            <b>&nbsp</b>
            @Html.ActionLink("Iscriviti", "SignedUpProject", new { projectID = Model.ProjectID }, new { @class = "btn btn-info" })

        }

    }

}









@if (ViewBag.isRequest == false && ViewBag.isRegistered == true)
{
    <b>
        La tua Richiesta è in fase di accettazione<br />

    </b>

}

<br />


<table class="table table-hover">

    <thead style="background:black; color:white;">
        <tr>

            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Stato
            </th>
            <th>
                DateInsert
            </th>
            <th>
                DateClose
            </th>


            <th></th>
        </tr>
    </thead>

    @foreach (var item in ViewBag.Task)
    {
        <tr>
            <td style=" vertical-align: middle;">
                @item.Name<br />


                @if (userCookie == Model.CreatorAccount)
                {

                    <a href="~/Task/Edit/@item.TaskID">Edit</a> <b>|</b>
                    <a href="~/Task/Delete/@item.TaskID">Delete</a>
                }
            </td>
            <td style=" vertical-align: middle;">

                @item.Description
            </td>
            <td style=" vertical-align: middle;">


                @if (!@item.isClosed)
                {
                    <i class="material-icons" style="color: #037d45;font-size: 30px;">done_outline </i>
                }
                else
                {

                    <i class="material-icons" style="color: #c01f1f; font-size: 35px;">
                        trending_up
                    </i>
                }

            </td>
            <td style=" vertical-align: middle;">

                @item.DateInsert
            </td>
            <td style=" vertical-align: middle;">
                @item.DateClose
            </td>



            <td style=" vertical-align: middle;">

                @if (ViewBag.isRequest == true && ViewBag.isRegistered == true || Model.CreatorAccount == userCookie)
                {


                    <a href="~/Task/Details/@item.TaskID">Collabora</a>
                }



            </td>
        </tr>
    }

</table>


<div>
    @{

        var taskT = ViewBag.Task.Count;
        var taskC = ViewBag.TaskC.Count;
        var taskO = ViewBag.TaskO.Count;




    }
    <div style="display:none;">
        <input id="taskT" value="@taskT" />
        <input id="taskC" value="@taskC" />
        <input id="taskO" value="@taskO" />
    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script>
    var ctx = document.getElementById("myChart");

    var taskO = $("#taskO").val();;
    var taskC = $("#taskC").val();;

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Task Chiusi', 'Task Aperti'],
            datasets: [{
                label: '# of Tomatoes',
                data: [taskC, taskO],
                backgroundColor: [
                    'rgb(0, 207, 0)',
                    'rgba(54, 162, 235)'
                ],
                borderColor: [
                    'rgb(0, 207, 0)',
                    'rgb(0, 207, 0)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            //cutoutPercentage: 40,
            responsive: true,
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: "Black",
                    boxWidth: 20,
                    padding: 8
                }

            }
        }
    });


</script>


<div class="container">


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Lista Partecipanti</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-group">




                        @foreach (var item in @ViewBag.UserCofirmed)
                        {

                            if (item.RequestConfirmed != false)
                            {
                                <li class="list-group-item">@item.Account    <b style="float: right;"> @Html.ActionLink("Go To Account", "ViewAccount", "Account", new { @Username = @item.Account }, new { @class = "" })</b></li>


                            }


                        }


                        @{

                            if (userCookie == Model.CreatorAccount)
                            {
                                if (@ViewBag.NotCofirmed.Count > 0)
                                {

                                    <h4 class="modal-title">Da Confermare</h4>


                                }
                                foreach (var item in @ViewBag.NotCofirmed)
                                {


                                    <li class="list-group-item">@item.Account    <b style="float: right;">  @Html.ActionLink("Rifiuta", "AcceptRegistration", "Project", new { @idSignedUp = @item.Id, @accepted = false, @idP = Model.ProjectID }, new { @class = "" }) -  @Html.ActionLink("Accetta", "AcceptRegistration", "Project", new { @idSignedUp = @item.Id, @accepted = true, @idP = Model.ProjectID }, new { @class = "" }) - @Html.ActionLink("Go To Account", "ViewAccount", "Account", new { @Username = @item.Account, @idP = Model.ProjectID }, new { @class = "" })</b></li>


                                }

                            }




                        }


                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


<script>



    $("#isClosed").change(function () {

        console.log('Toggle: ' + $(this).prop('checked'));


        if ($(this).prop('checked') == false) {
            var url = "@Url.Action("CloseProject", "Project",new { id = Model.ProjectID, isClosede = false})";
            location.replace(url);

        }
        else {
             var url = "@Url.Action("CloseProject", "Project",new { id = Model.ProjectID, isClosede = true})";
            location.replace(url);

        }




    });

</script>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                @if (ViewBag.Message == true)
                {

                    <h1>Iscrizione Completa</h1><br>

                }
                else if (ViewBag.Message == false)
                {
                    <h1> Error</h1><br>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
