@model Team_Up.Models.ProjectModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ProjectModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var dateClose = Model.Date.Value.ToString("yyyy-MM-dd").ToString();

                if (dateClose != "0001-01-01")
                {
                    <input type="date" name="Date" class="form-control" min=@DateTime.Now.ToString("yyyy-MM-dd") value=@dateClose } />


                }
                else
                {

                    <input type="date" name="Date" class="form-control" min=@DateTime.Now.ToString("yyyy-MM-dd")  } />
                
                    }


            }

            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.CreatorAccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreatorAccount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreatorAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.DtInsert, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DtInsert, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DtInsert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Compentece </label>
        <div class="col-md-10">
            <select id="Compentece" name="Compentece" multiple style="width: 100%;">

                @foreach (var item in ViewBag.ListCompetence)
                {

                    if (item.Selected)
                    {
                        <option value="@item.CompetenceID" selected>@item.typology</option>

                    }
                    else
                    {

                        <option value="@item.CompetenceID">@item.typology</option>
                    }




                }


            </select>
            <br /><b style="color:red;"><u>Nota</u></b>- Tieni premuto il tast <b>CTRl</b> per selezionare più di una comptenza
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2"> Categorie </label>
        <div class="col-md-10">
            <select id="Category" name="Category" multiple style="width: 100%;">

                @foreach (var item in ViewBag.ListCategory)
                {

                    if (item.Selected)
                    {
                        <option value="@item.CategoryID" selected>@item.Typology</option>

                    }
                    else
                    {

                        <option value="@item.CategoryID">@item.Typology</option>
                    }




                }


            </select>
            <br /><b style="color:red;"><u>Nota</u></b>- Tieni premuto il tast <b>CTRl</b> per selezionare più di una comptenza
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
