
@model IEnumerable<Team_Up.Models.ProjectModel>

@{
    ViewBag.Title = "Index";
}


@Html.Hidden("myVar", 0)


<div class="container" style=" margin-top: 5%;">


    <form method="get">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-3">
                    <label>Progetto:</label>
                    <input type="text" class="form-control" placeholder="Nome Progetto" name="progetto" style="width:100%;" value="@ViewBag.Progetto">
                </div>
                <div class="col-sm-3">
                    <label>Parola Chiave:</label>
                    <input type="text" class="form-control" name="parolachiave" placeholder="Parola Chiave" value="@ViewBag.Descrizione">
                </div>
                <div class="col-sm-3">
                    <label>Autore:</label>
                    <input type="text" class="form-control" name="autore" placeholder="Autore" value="@ViewBag.Autore">
                </div>
                <div class="col-sm-3">
                    <label>Data Creazione:</label>

                    @{

                        if (@ViewBag.DataCreate != null)
                        {
                            <input type="date" class="form-control" name="dataCreate" value="@ViewBag.DataCreate.ToString("yyyy-MM-dd")">

                        }
                        else
                        {
                            <input type="date" class="form-control" name="dataCreate" value="">

                        }

                    }

                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-sm-6">
                    <label>Competenze:</label><br />
                    <select id="Compentecey" name="Compentecey" multiple style="width: 100%;     max-width: 100%;">

                        @foreach (var item in ViewBag.ListCompetence)
                        {
                            if (item.Selected)
                            {
                                <option value="@item.CompetenceID" selected>@item.typology</option>

                            }
                            else
                            {

                                <option value="@item.CompetenceID">@item.typology</option>
                            }

                        }




                    </select><br />
                    <b style="color:red;"><u>Nota</u></b>- Tieni premuto il tast <b>CTRl</b> per selezionare più di una comptenza

                </div>
                <div class="col-sm-6">
                    <label>Categorie:</label><br />
                    <select id="Category" name="CategoryFilter" multiple style="width: 100%;    max-width: 100%;">

                        @foreach (var item in ViewBag.ListCategory)
                        {
                            if (item.Selected)
                            {
                                <option value="@item.CategoryID" selected>@item.Typology</option>

                            }
                            else
                            {

                                <option value="@item.CategoryID">@item.Typology</option>
                            }

                        }




                    </select><br />
                    <b style="color:red;"><u>Nota</u></b>- Tieni premuto il tast <b>CTRl</b> per selezionare più di una comptenza

                </div>

            </div>
            <br />
            <div class="form-group" style="float:right;">
                <div class="">
                    <input type="submit" value="Cerca" class="btn btn-default" id="invio" />
                    @Html.ActionLink("Reset", "Index", "Project", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>


</div>







<h1>Progetto </h1>

<p>

    @{
        HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("UserLogin");
        if (cookie != null && cookie.Value != "")
        {
            @Html.ActionLink("Create New", "Create");
        }
    }



</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="mediaNone">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="mediaNone">
                @Html.DisplayNameFor(model => model.DtInsert)
            </th>
            <th class="mediaNone">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="mediaNone">
                @Html.DisplayNameFor(model => model.CreatorAccount)
            </th>
            <th style=" text-align: center;" class="mediaNone">
                Competences
            </th>

        </tr>

        @foreach (var item in Model.OrderByDescending(x => x.DtInsert))
        {

            <tr>
                <td>
                    <div class="mediaNone">

                        <b style="color:black">
                            @Html.ActionLink(item.Title, "Details", new { id = item.ProjectID }, new { @style = "color:black;    font-size: 20px;" })
                            <br />
                        </b>


                        @if (cookie != null && cookie.Value != "" && (cookie.Value == item.CreatorAccount || cookie.Value == "Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) <b>|</b>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
                        }





                    </div>

                    <div class="dettailResp">
                        <h2>
                            <b style="color:black">
                                @Html.ActionLink(item.Title, "Details", new { id = item.ProjectID }, new { @style = "color:black;" })
                            </b>
                        </h2>


                        @if (cookie != null && cookie.Value != "" && (cookie.Value == item.CreatorAccount || cookie.Value == "Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) <b>|</b>
                            @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) <b>|</b>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })<br />
                        }







                        @{
                            if (item.Date > new DateTime(0001, 01, 01))
                            {
                                <b> @Html.DisplayNameFor(model => model.Date)  </b>
                                @Html.DisplayFor(modelItem => item.Date)}
                        }


                        <b><br /> @Html.DisplayFor(modelItem => item.DtInsert): </b> @Html.DisplayNameFor(model => model.DtInsert)<br />
                        <b>CreatorAccount: </b> @Html.DisplayNameFor(model => model.CreatorAccount)<br />

                        <b>Description</b>
                        @{
                            if (item.Description.Length > 350)
                            {
                                item.Description = item.Description.Substring(0, 345) + "..";
                            }
                        }

                        <p style="max-width: 98%;  padding: 12px; overflow-wrap: break-word; word-wrap: break-word; hyphens: auto; white-space: break-spaces; overflow: auto;">@item.Description</p>

                        <h3>Competences:</h3>
                        <div id="CompetencesMobile" class="mediaNone">



                            @{


                                foreach (var itemCompetences in item.Competences)
                                {


                                    <a style="margin: 2px;" class="btn btn-@itemCompetences.Color"> @itemCompetences.typology.ToUpper()</a>
                                }



                            }

                        </div>

                        <h3>Categories:</h3>
                        <div id="CompetencesMobile" class="mediaNone">


                            @{
                                foreach (var itemCategory in item.Categories)
                                {

                                    <a style="margin: 2px;" class="btn btn-@itemCategory.Color"> @itemCategory.Typology.ToUpper()</a>
                                }



                            }

                        </div>




                    </div>
                </td>
                <td class="mediaNone">
                    
                    
                    @{
                        if (item.Date > new DateTime(0001, 01, 01))
                        {
                            @Html.DisplayFor(modelItem => item.Date)}
                    }

                </td>
                <td class="mediaNone">
                    @Html.DisplayFor(modelItem => item.DtInsert)
                </td>
                <td class="mediaNone">

                    @{
                        if (item.Description.Length > 350)
                        {
                            item.Description = item.Description.Substring(0, 345) + "..";
                        }
                    }

                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="mediaNone">
                    @Html.DisplayFor(modelItem => item.CreatorAccount)
                </td>
                <td class="mediaNone">
                    <h4 style="" class="mediaNone">Competences:</h4>
                    <div id="Competences" class="mediaNone">



                        @{


                            foreach (var itemCompetences in item.Competences)
                            {


                                <a href="~/Project/Index/0?Competence=@itemCompetences.CompetenceID" style="margin: 2px;" class="btn btn-@itemCompetences.Color"> @itemCompetences.typology.ToUpper()</a>
                            }



                        }

                    </div>
                    <br />
                    <h4 style="" class="mediaNone">Categories:</h4>
                    <div id="Competences" class="mediaNone">

                        @{
                            var luca5 = Url.Action("Index", "Project"); ;



                        }


                        @{


                            foreach (var itemCategory in item.Categories)
                            {



                                <a href="~/Project/Index/0?Category=@itemCategory.CategoryID" style="margin: 2px;" class="btn btn-@itemCategory.Color"> @itemCategory.Typology.ToUpper()</a>
                            }



                        }

                    </div>



            </tr>
        }

    </table>

    @{
        var pageIndex = (int)ViewBag.PageIndex;
        var totalPages = (int)ViewBag.TotalPages;
        var totalItems = (int)ViewBag.TotalItems;
    }

    <div style="text-align:center;">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <ul class="pagination">
                    @if (1 != pageIndex)
                    {

                        <button name="pageIndex" value="@(pageIndex-1)" class="pageN pdsads" onclick="fi()" type="checkbox" style=" background: none;border: 0px solid;color: black;font-size: 16px;font-family: monospace;"><</button>
                    }
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        //<li class="page-item @(i==pageIndex?"active":"")"><a class="page-link" href="?pageIndex=@i">@i</a></li>

                        if (i == pageIndex)
                        {
                            <button name="pageIndex" value="@i" class="pageN pdsads" onclick="fi()" type="checkbox" style="   background: none;border: 0px solid;color: blue;font-size: 16px;font-family: monospace;">@i</button>

                        }
                        else
                        {

                            <button name="pageIndex" value="@i" class="pageN pdsads" onclick="fi()" type="checkbox" style=" background: none;border: 0px solid;color: black;font-size: 16px;font-family: monospace;">@i</button>

                        }

                    }

                    @if (totalPages != pageIndex)
                    {
                        <li class="page-item">
                            <button name="pageIndex" value="@(pageIndex+1)" class="pageN" style=" background: none;border: 0px solid;color: black;font-size: 16px;font-family: monospace;" onclick="fi()" type="checkbox">></button>
                        </li>
                    }

                </ul>
        </nav>
    </div>

</div>


<script>

    function fi() {
        document.getElementById("invio").click();

    }





</script>

    </form>