@model Team_Up.Models.TaskModel

@{
    ViewBag.Title = "Details";


    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("UserLogin");

    var userCookie = "";

    if (cookie != null)
    {
        userCookie = cookie.Value;
    }


}






<div>

    <hr />
    <h1> @Html.DisplayFor(model => model.Name)</h1>

    <div class="col-sm-1" style="width: 55px;}">
        @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }, new { @class = "btn btn-warning" })
    </div>

    <div class="col-sm-1">

        @{
            if (userCookie == Model.AccountCreator)
            {



                if (Model.isClosed)
                {
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Aperto" data-off="Chiuso" id="isClosed">
                }
                else
                {
                    <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Aperto" data-off="Chiuso" id="isClosed">

                }

            }



        }
    </div>
    <br />
    <div class="row"></div><br />

    <dl class="dl-horizontal">

        <dt>
            Data Creazione
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInsert)
        </dd>

        <dt>
            Data Chiusura
        </dt>

        <dd>

            @if (Model.DateClose != null)
            {@Html.DisplayFor(model => model.DateClose)}
            else { <strong>Non prevista</strong>}




        </dd>

        <dt>
            Creatore
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>








<hr />
<h3 style="text-align:right"> Risposte</h3>
<hr />


@if (ViewBag.isLogin != "" && Model.isClosed != false)
{

    <div class="col-sm-4" style=" width:160px;">
        <form action="../FileUpload" method="post" enctype="multipart/form-data" id="formUpload">
            <input type="file" name="file" id="file" style="display:none;" />
            <label for="file" class="btnInput">
                <i class="material-icons">
                    add_photo_alternate
                </i>
                Upload
            </label>
            <input type="text" name="idTask" id="idTask" style="display:none;" value="@Model.TaskID" />
        </form>
    </div>

    <script>

        $("#file").change(function () {
            document.getElementById("formUpload").submit();

        });



    </script>
    <br />
    <br />


    using (Html.BeginForm("Create", "Replys", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.Partial("_TextArea")



            <input name="Project" value="@Model.Project" style="display: none;" />
            <input name="TaskID" value="@Model.TaskID" style="display: none;" />

            <div class="form-group" style=" padding-left: 5%;">
                <textarea class="form-control" name="Message" rows="3" style=" display:none;" id="Message"></textarea>
                <input type="submit" value="Invia" class="btn btn-default" style="float: right;margin: 1%;" id="create" />
            </div>

        </div>
    }


}







@foreach (var item in ViewBag.Reply)
{


    <div class="row">
        <div class="col-sm-2 profile">
            <strong>@item.UserName  </strong>
            <div>
                <img src="~/Uploads/@item.AccountDetails.Avatar" class="profileAvatar" />


            </div>

            <div style="">
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </div>
        </div>


        <div class="col-sm-8" style=" margin-left: 5%;">
            <div class="row" style=" font-size: 10px;"><strong>Inviato il </strong>@item.DateInsert</div>
            <div class="row message">@Html.Raw(HttpUtility.HtmlDecode(item.Message))</div>


        </div>


    </div>

    <hr style=" border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />

}


<script>



    document.getElementById("editor").addEventListener("focusout", function () {

        document.getElementById("Message").value = document.getElementById("editor").innerHTML;

    });

</script>




<script>



    $("#isClosed").change(function () {

        console.log('Toggle: ' + $(this).prop('checked'));


        if ($(this).prop('checked') == false) {
            var url = "@Url.Action("CloseOrOpen", "Task",new { id = Model.TaskID, isClose = false})";
            location.replace(url);

        }
        else {
             var url = "@Url.Action("CloseOrOpen", "Task", new { id = Model.TaskID, isClose = true})";
            location.replace(url);

        }




    });

</script>
